<nav>
  <h2> <%= link_to "Bare Bones Blog", root_path %> </h2>
  <div>
    <ul>

      <% if !current_user %>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "About", static_pages_about_path %>
        </li>
      <% end %>

      <% if current_user %>
        <li>
          <%= link_to "Dashboard", dashboard_path %>
        </li>
      <% end %>

      <li>
        <%= link_to "Posts", posts_path %>
      </li>
      <br>
      <li>
        <div>
          <!-- <a href="#">Link</a> -->
          <!-- <a href="#">Link</a> -->
          <%= link_to 'Login', sign_in_path if !current_user %>
          <%= link_to 'Register', sign_up_path if !current_user %>

          <% if current_user %>
          <%= link_to 'Account Settings', account_settings_path %>
          <%= link_to "Logout", sign_out_path, method: :delete %>
          <% end %>
        </div>
      </li>

    </ul>
    <!-- <form>
      <input type="search" placeholder="Search" aria-label="Search">
      <button type="submit">Search</button>
    </form> -->
  </div>
</nav>
