<!DOCTYPE html>
<html>
  <head>
    <title>BareBonesBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
    <%= render "shared/nav_bars/nav_bar" %>
    <p class="notice" style="color: green"><%= notice %></p>
    <p class="alert" style="color: red"><%= alert %></p>
  </header>

  <body>
    <%= yield %>

    <br>
    <div>
      <% if root_path? == false %>
      <%= link_to "Back", :back %>
      <% end %>
    </div>
  </body>
</html>
